<!-- Prepare a DOM with a defined width and height for ECharts -->
<div id="bar-inventory-shop" style="width: 600px;height:400px;"></div>
<script>
  // Initialize the echarts instance based on the prepared dom
  var myChart = echarts.init(document.getElementById('bar-inventory-shop'));

  // Specify the configuration items and data for the chart
  var option = {
    title: {
      text: 'Inventory'
    },
    color: ['#d95959'
    ],
    tooltip: {},
    legend: {
      data: ['Amount']
    },
    xAxis: {
      data: ['Shirts', 'Cardigans', 'Chiffons', 'Pants', 'Heels', 'Socks']
    },
    yAxis: {},
    series: [
      {
        name: 'Amount',
        type: 'bar',
        data: [5, 20, 36, 10, 10, 20]
      }
    ]
  };

  // Display the chart using the configuration items and data just specified.
  myChart.setOption(option);
</script>